<%- include ../partials/header -%>

<p>
    <a class="btn" href="/books/new/">Add a book</a>
</p>

<section>
    <ul>
        <% books.forEach(function(book) { %>
            <li><%=book.title%> by <%=book.author%></li>
        <% }); %>
    </ul>
</section>

<%- include ../partials/footer -%>